[loggers]
keys=root

[handlers]
keys=stream_handler, file_handler

[formatters]
keys=formatter

[logger_root]
level=DEBUG
handlers=stream_handler, file_handler

[handler_stream_handler]
class=StreamHandler
level=FATAL
formatter=formatter
args=(sys.stderr,)

[handler_file_handler]
class=handlers.TimedRotatingFileHandler
level=DEBUG
formatter=formatter
args=('./logs/utility.log','midnight',1,5,'utf-8',False,True,)

[formatter_formatter]
format=%(asctime)s %(name)-12s %(levelname)-8s %(message)s